/* You can add global styles to this file, and also import other style files */

.mat-snack-bar-container {
    padding: 8px 24px !important;
    text-align: center;
  }

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.show-on-hover{
    opacity: 0;
    transition: all 0.3s ease-in-out;
    height:0;
}

.hide-on-hover, .add-overlay{
    opacity: 1;
    transition: all 0.3s ease-in;
}

.mat-dialog-container {
    padding: 0 !important;
    max-width: 500px;
}
  